.footer-one {
    background-color: #e7e6e2;
    width: 100%;
    height: 150px;
}

.newsletter-input{
    border-radius: 0px;
    width: 90%;
    border: 1px solid black;
    padding-right: calc(1.5em + .75rem);
    background-image: url("../../assets/icons/angle-right-solid.svg");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}