.btn-custom{
  background: #7a4a58;
  color: white;
}

.bg-gray{
  background: #e7e6e2;
}

.btn-custom:hover{
  background: #925164;
  color: white;
}

.no-borders{
  border: 0px !important;
}

.no-borders-bottom{
  border-top: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
  border-bottom: 1px solid gray;
}

.no-radius{
  border-radius: 0px !important;
}

.colorbox{
  width: 60px;
  height: 60px;
  border: 1px solid gray;
  text-align: center;
  white-space: nowrap;
  position: relative;
}
.colorbox img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.tallasbox{
  display: flex;
flex-direction: row;
flex-wrap: wrap;
max-width: 280px;
white-space: nowrap;
}
.tallasitems{
  min-width: 50px;
min-height: 50px;
max-width: 50px;
max-height: 50px;
border-radius: 0px;
}
.card-product{
  min-height: 220px;
}

.card-img-box{
  position: relative;
  height: 200px;
  width: 200px;
  margin: auto;
}
.card-img-element{
  position: absolute;
  
  top:0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
a {
  color: unset;
  text-decoration: none;
}
@media only screen and (max-width: 600px) {
  
.search-input {
width: 100%;
}  
}
